*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header{
    background: #35424a;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

header nav ul{
    list-style: none;
    display:flex;
    justify-content: center;
}

header nav ul li{
    margin: 0 15px;
}   

header nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin-bottom: 10px;
}

section {
    padding: 2rem;
    text-align: center;
}

.about, .projects {
    background: #ffffff;
    margin: 2rem 0;
}

.home {
    background: #3498db;
    color: #ffffff; 
}

.home p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.projects .project {
    margin: 1rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}