<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible" content="ie=edege">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>                       
        </nav>
        <h1>Welcome to my Portfolio</h1>
    </header>

    <section id="home" class="home">
        <h2>Hi, I'm Krithika Poojary</h2>
        <p>3rd year Artificial Intelligence and Machine Learning Student at SMVITM</p>
    </section>
    
    <section id="about" class="about">
        <h2>About Me</h2>
        <p>I am passionate about AI and ML, and I love working on innovative projects that make a difference.</p>
    </section>

    <section id="projects" class="projects">
        <h2>Projects</h2>
        <div class="project">
            <h3>Project 1</h3>
            <p>Description of project 1</p>
        </div>
        <div class="project">
            <h3>Project 2</h3>
            <p>Description of project 2</p>
        </div>
        <div class="project">
            <h3>Project 3</h3>
            <p>Description of project 3</p>
        </div>
    </section>

    <section id="contact" class="contact">
        <h2>Contact</h2>
        <p>Email: krithikapoojary2424@gmail.com</p>
        <p>Phone: *******580</p>
    </section>

    <footer>
        <p>&copy; 2024 Krithika Poojary. All Rights Reserved.</p>
    </footer>
</body>
</html>